In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('imdb.csv', sep=',')

In [6]:
df.head()

                                         Poster_Link  ...        Gross
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...  ...   28,341,469
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...  ...  134,966,411
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...  ...  534,858,444
3  https://m.media-amazon.com/images/M/MV5BMWMwMG...  ...   57,300,000
4  https://m.media-amazon.com/images/M/MV5BMWU4N2...  ...    4,360,000

[5 rows x 16 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [8]:
df.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

In [9]:
df['Released_Year'].head()

0    1994
1    1972
2    2008
3    1974
4    1957
Name: Released_Year, dtype: object

In [10]:
df['Released_Year']=pd.to_numeric(df['Released_Year'], errors='coerce')

In [11]:
df.dtypes

Poster_Link       object
Series_Title      object
Released_Year    float64
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

In [12]:
df['Runtime']=df['Runtime'].apply(lambda a: a[0:-3])
df['Runtime']=pd.to_numeric(df['Runtime'])

In [13]:
df['Gross'].head()

0     28,341,469
1    134,966,411
2    534,858,444
3     57,300,000
4      4,360,000
Name: Gross, dtype: object

In [14]:
df['Gross']=df['Gross'].apply(lambda a: a.replace(',','') if isinstance(a, str) else a)
df['Gross']=pd.to_numeric(df['Gross'], errors='coerce')

In [15]:
df = df.drop('Poster_Link', 1)

In [16]:
df.head()

               Series_Title  Released_Year  ... No_of_Votes        Gross
0  The Shawshank Redemption         1994.0  ...     2343110   28341469.0
1             The Godfather         1972.0  ...     1620367  134966411.0
2           The Dark Knight         2008.0  ...     2303232  534858444.0
3    The Godfather: Part II         1974.0  ...     1129952   57300000.0
4              12 Angry Men         1957.0  ...      689845    4360000.0

[5 rows x 15 columns]

In [17]:
df['Gross']=df['Gross'].apply(lambda a: a.replace(',','') if isinstance(a, str) else a)
df['Gross']=pd.to_numeric(df['Gross'], errors='coerce')

In [18]:
df.dtypes

Series_Title      object
Released_Year    float64
Certificate       object
Runtime            int64
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross            float64
dtype: object

In [19]:
df[pd.isnull(df['Meta_score'])].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157 entries, 20 to 913
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   157 non-null    object
 1   Released_Year  157 non-null    float64
 2   Certificate    112 non-null    object
 3   Runtime        157 non-null    int64
 4   Genre          157 non-null    object
 5   IMDB_Rating    157 non-null    float64
 6   Overview       157 non-null    object
 7   Meta_score     0 non-null      float64
 8   Director       157 non-null    object
 9   Star1          157 non-null    object
 10  Star2          157 non-null    object
 11  Star3          157 non-null    object
 12  Star4          157 non-null    object
 13  No_of_Votes    157 non-null    int64
 14  Gross          81 non-null     float64
dtypes: float64(4), int64(2), object(9)
memory usage: 19.6+ KB

In [20]:
df[pd.isnull(df['Meta_score'])].sample(5)

      Series_Title  Released_Year  ... No_of_Votes       Gross
871  The Quiet Man         1952.0  ...       34677  10550000.0
297  Jungfrukällan         1960.0  ...       26697   1526000.0
176    The Message         1976.0  ...       43885         NaN
605        Ajeossi         2010.0  ...       62848      6460.0
294        Sanjuro         1962.0  ...       33044         NaN

[5 rows x 15 columns]

In [22]:
df.to_csv('imdb_preprocessed.csv', index=False)